@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Share+Tech&display=swap');
@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --default-font-family: "Share Tech", sans-serif;
  --color-primary: #a16ffd;
  --color-muted: #e5e5e5;
  --color-tertiary: #94a3b8;
  --color-surface: #ffffff;
  --color-accent: #dadada;
  --color-secondary: #dbdbdb;
  --color-content: #0f172a;
  --color-background: #f8fafc;
}

.dark {
  --color-primary: #a16ffd;
  --color-muted: #535353;
  --color-tertiary: #858585;
  --color-surface: #313131;
  --color-accent: #232323;
  --color-secondary: #727272;
  --color-content: #e3d6fb;
  --color-background: #1d1d1d;
}