{% extends 'base.html' %}

{% block title %}About{% endblock %}

{% block content %}
<section class="max-w-4xl mx-auto">
  <h1 class="text-4xl font-bold text-content mb-8 text-center pt-8 md:pt-12 lg:pt-16">About Me</h1>

  <div class="grid md:grid-cols-5 gap-12 md:gap-12 lg:gap-16">
    <div class="flex justify-center md:col-span-2">
      <img src="{{ url_for('static', filename='images/' + personal_info.profile_image) }}"
        alt="{{ personal_info.name }}" class="rounded-full shadow-lg w-80 h-80 object-cover">
    </div>

    <div class="md:col-span-3 flex items-center">
      <div class="prose prose-lg w-full">
        <p class="text-content leading-relaxed text-base md:text-lg lg:text-xl">{{ personal_info.bio }}</p>
      </div>
    </div>
  </div>
</section>
{% endblock %}